
.jumbotron{
    background-color: #cce5ff;
    text-align:center;
}

 .carousel-item img {
  display: block;
  height: 400px;
  max-width: 100%;
  line-height: 1;
  margin:auto;
  width: 900px;
} 
  